#
# Ignores for Xilinx toolchain
#
*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.drc
*.exe
*.gise
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xise
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
*_envsettings.html
*_map.*
*_pad.*
*_summary.*
*_usage.*
*_xst.xrpt
*webtalk*.*
_ngo
_xmsgs
iseconfig
isim
par_usage_statistics.html
xilinxsim.ini
xlnx_auto_0_xdb
xst

#
# Ignores for Visual Studio
#
toslink/[Dd]ebug/
toslink/[Rr]elease/
toslink/.vs
toslink/ipch
toslink/*.VC.db

#
# Ignores for Emacs
#
*~
